target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###git ad
.vscode/

### Omit Log files ###
log/*.gz
log/*.log

### Creds ###
/src/main/resources/application-prod.properties
application-local.properties
application-perf.properties
application-st.properties
application-dev.properties
application-instance.properties
application-staging.properties

bin/

application.pid

/dbConfiguration.json

